{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-4">
            <h1>Categories</h1>

            {% for category in categories %}
                <h3><a href = "{{url_for('showCategory', category_id = category.id)}}">{{category.name}}</a></h3>
            {% endfor %}

            {% if 'username' in session %}
            <a href="{{url_for('newCategory')}}">
                <button class="btn btn-default" id="new-restaurant">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Category
                </button>
            </a>
            {% endif %}
        </div>

        <div class="col-md-4">
            <h1>Latest Items</h1>
            {% for item in latest_items %}
                <h3><a href = "{{url_for('showCategoryItem', category_id = item.category.id, item_id=item.id)}}">{{item.name}}</a> <em>({{item.category.name}})</em></h3>
            {% endfor %}
        </div>
    </div>

{% endblock %}